rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 郵便番号データは誰でも読み取り可能
    match /postal_codes/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    
    match /offices/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    
    match /prefectures/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    
    match /metadata/{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
